html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text: #2e2f42;
    --secondary-text: #434455;
    --gray-text: #8E8F99;
    --gray-secondary: #757575;
    --accent-color: #4D5AE5;
    --hover-color: #404BBF;
    --white-text: #FFFFFF;
    --second-white-color: #F4F4FD;

}

body {
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    color: var(--primary-text);

}

.list {
    list-style: none;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    min width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    
    font-family: inherit;
    cursor: pointer;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

}

.container {
    padding: 0px 16px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid orange; */
}
@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0px 15px;
    }
}

.ghost {
    display: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
        
    object-fit: cover;
    object-position: center;
}

/* Page header */
.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.header-cont {

    align-items: center;
    justify-content: space-between;
}



/* Навігація контакти */

.navigation {

    padding-left: 0;
}
.nav-head {

}
.navigation .item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--hover-color);
}

.current {
    position: relative;

    color: var(--accent-color);
}

.current::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.contacts {
    padding-left: 0;
 
}
.contacts .item:not(:last-child){
    margin-right: 40px;
}

.con-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.con-link:hover,
.con-link:focus {
    color: var(--hover-color);
}




/* Feature */







/* Doing section */


/* Team */








/* Customers */














