html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text: #2e2f42;
    --secondary-text: #434455;
    --gray-text: #8E8F99;
    --gray-secondary: #757575;
    --accent-color: #4D5AE5;
    --hover-color: #404BBF;
    --white-text: #FFFFFF;
    --second-white-color: #F4F4FD;

}

body {
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    color: var(--primary-text);

}

.list {
    list-style: none;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    min width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    
    font-family: inherit;
    cursor: pointer;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

}

.container {
    padding: 0px 16px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid orange; */
}
@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0px 15px;
    }
}

.ghost {
    display: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
        
    object-fit: cover;
    object-position: center;
}